@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0C4A6E
}
.container {
    display: flex;
    justify-content: space-around;
}
.container2 {
    display: flex;
    justify-content: space-around;
}
.h2{
    background-color: black;
    color: red;
    font-size: 30px;
    border: 3px solid red;
    padding: 19px;
    margin: 1px 0px 2px
}
.h22 {
  background-color: black;
  color: red;
  font-size: 30px;
  border: 3px solid red;
  padding: 19px;
  margin: 1px 0px 2px;
  
  }
  .table1 {
    position:absolute;
    left: 43px;
    padding-top: 10px
  
  }
  .table2 {
      position: absolute;
      right: 43px;
      padding-top: 10px
  }
  .table3 {
      position:absolute;
      right: 172px
      
  }
  .left{
      position: absolute
      color: white
  }
  .right{
      position: absolute
      color: white
  }

