.p1 {
  font-family: Arial, Helvetica, sans-serif;
}
    body {
      background-image: url('https://i.imgur.com/0NSBUtq.jpg');
    }
    body,html {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
  background: rgb(131, 91, 134);
}

a:hover {
  background: rgb(26, 170, 134);
}

a:active {
  background: red;
  color: white;
}